In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
df = pd.read_csv("book.csv")

In [3]:
df.head()

  trip_distance  total_ammount
0         0 - 5             51
1          5-10             50
2         10-15             50
3         15-20             50
4         20-25             50

In [4]:
def low_high(df, column_name):
    df['low'] = df.apply(lambda row: int(row[column_name][0]), axis=1)
    df['high'] = df.apply(lambda row: int(row[column_name].split('-')[-1]), axis=1)

In [5]:
low_high(df, 'trip_distance')

Mean for Grouped Data

In [6]:
# calculating classmark(x) and f.x
df1 = df.copy()
df1['classmark'] = (df1['low'] + df1['high'])/2
df1['f.x'] = df1.apply(lambda row: row['total_ammount']*row['classmark'], axis=1)
df1

   trip_distance  total_ammount  low  high  classmark     f.x
0          0 - 5             51    0     5        2.5   127.5
1           5-10             50    5    10        7.5   375.0
2          10-15             50    1    15        8.0   400.0
3          15-20             50    1    20       10.5   525.0
4          20-25             50    2    25       13.5   675.0
5          25-30             53    2    30       16.0   848.0
6          30-35             49    3    35       19.0   931.0
7          35-40             47    3    40       21.5  1010.5
8          40-45             19    4    45       24.5   465.5
9          45-50             22    4    50       27.0   594.0
10         50-55             14    5    55       30.0   420.0
11         55-60              6    5    60       32.5   195.0
12         60-65              7    6    65       35.5   248.5
13         65-70              6    6    70       38.0   228.0
14         70-75              6    7    75       41.0   246.0
15         75-80              2    7    80       43.5    87.0
16         80-85              1    8    85       46.5    46.5

In [7]:
# applying the mean formula
mean = df1['f.x'].sum() / df1['total_ammount'].sum()
print(f'Mean: {mean}')

Mean: 15.367494824016562

Median for Grouped Data

In [8]:
df2 = df.copy()

# calculating cummalative frequency
c = 0
def calculate_cf(row):
    global c
    if c == 0: c = row['total_ammount']
    else: c = c + row['total_ammount']
    return c

# calculating N/2
n_by_2 = df2['total_ammount'].sum()/2

df2['cf'] = df2.apply(lambda row: calculate_cf(row), axis=1)
df2

   trip_distance  total_ammount  low  high   cf
0          0 - 5             51    0     5   51
1           5-10             50    5    10  101
2          10-15             50    1    15  151
3          15-20             50    1    20  201
4          20-25             50    2    25  251
5          25-30             53    2    30  304
6          30-35             49    3    35  353
7          35-40             47    3    40  400
8          40-45             19    4    45  419
9          45-50             22    4    50  441
10         50-55             14    5    55  455
11         55-60              6    5    60  461
12         60-65              7    6    65  468
13         65-70              6    6    70  474
14         70-75              6    7    75  480
15         75-80              2    7    80  482
16         80-85              1    8    85  483

In [9]:
def get_median_class():
    for index, row in df2.iterrows():
        if row['cf'] > n_by_2:
            return row, index

median_class, class_index = get_median_class()

In [10]:
# applying the median formula
L = median_class['low']
cf = int(df2.loc[class_index - 1: class_index - 1]['cf'])
f = median_class['total_ammount']
h = median_class['high'] - median_class['low']

median = L + ((n_by_2 - cf) / f)*h
print(f'Median: {median}')

Median: 20.630000000000003

C:\Users\HEMANT\AppData\Local\Temp\ipykernel_5704\2675843856.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  cf = int(df2.loc[class_index - 1: class_index - 1]['cf'])

Mode for Grouped Data

In [11]:
df3 = df.copy()

def get_modal_class():
    for index, row in df3.iterrows():
        if row['total_ammount'] == df3['total_ammount'].max():
            return row, index

modal_class, class_index_mode = get_modal_class()

In [12]:
# applying the mode formula
L = modal_class['low']
f0 = int(df3.loc[class_index_mode - 1: class_index_mode - 1]['total_ammount'])
f1 = int(modal_class['total_ammount'])
f2 = int(df3.loc[class_index_mode + 1: class_index_mode + 1]['total_ammount'])
h = modal_class['high'] - modal_class['low']
print(L, f0, f1, f2, h)

2 50 53 49 28

C:\Users\HEMANT\AppData\Local\Temp\ipykernel_5704\700682977.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  f0 = int(df3.loc[class_index_mode - 1: class_index_mode - 1]['total_ammount'])
C:\Users\HEMANT\AppData\Local\Temp\ipykernel_5704\700682977.py:5: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  f2 = int(df3.loc[class_index_mode + 1: class_index_mode + 1]['total_ammount'])

In [13]:
mode = L + ((f1 - f0) / (2*f1 - f0 - f2))*h
print(f'Mode: {mode}')

Mode: 14.0

Variance & Standard Deviation

In [14]:
df4 = df1.copy()

df4['f.(x-x_mean)^2'] = df4['total_ammount'] * (df4['classmark'] - mean)*(df4['classmark'] - mean)

variance = df4['f.(x-x_mean)^2'].sum() / df4.count().max()
standard_deviation = math.sqrt(variance)
print(f'Variance: {variance}')
print(f'Standard Deviation: {standard_deviation}')

Variance: 2339.559980513945
Standard Deviation: 48.368998134279614

Skewness

In [15]:
skewness = (mean - mode) / standard_deviation
print(f'Skewness: {skewness}')
if skewness > 0 and skewness < 0.4:
    print('It is little positively skewed!')
elif skewness >= 0.4 and skewness < 1:
    print('It is moderately positively skewed!')
elif skewness >= 1:
    print('It is highly positively skewed!')
elif skewness > -0.4 and skewness < 0:
    print('It is little negatively skewed!')
elif skewness > -1 and skewness <= 0.4:
    print('It is moderately negatively skewed!')
elif skewness <= 1:
    print('It is highly negatively skewed!')
else:
    print('It is not skewed!')

Skewness: 0.02827213456479274
It is little positively skewed!