In [1]:
import pandas as pd
from statistics import variance
from statistics import stdev

In [2]:
df = pd.read_csv("UBER DATA.csv")

C:\Users\HEMANT\AppData\Local\Temp\ipykernel_25348\3081619992.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("UBER DATA.csv")

In [3]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-11-01 00:03:03,2023-11-01 01:04:08,2.0,13.60,1.0,N,132,26,2,61.8,2.75,0.5,0.00,0.00,1.0,66.05,0.0,1.75
1,1,2023-11-01 00:03:28,2023-11-01 00:23:59,0.0,3.50,1.0,N,140,7,1,20.5,3.50,0.5,5.10,0.00,1.0,30.60,2.5,0.00
2,2,2023-10-31 23:58:05,2023-11-01 00:54:03,4.0,18.61,2.0,N,132,230,1,70.0,0.00,0.5,16.54,6.94,1.0,99.23,2.5,1.75
3,2,2023-11-01 00:03:50,2023-11-01 00:04:59,1.0,0.39,1.0,N,236,236,1,4.4,1.00,0.5,1.88,0.00,1.0,11.28,2.5,0.00
4,2,2023-11-01 00:06:30,2023-11-01 00:14:25,1.0,1.20,1.0,N,236,141,1,10.0,1.00,0.5,3.00,0.00,1.0,18.00,2.5,0.00

In [4]:
data =  pd.read_csv("UBER DATA.csv")[['trip_distance', 'fare_amount', 'extra', 'tip_amount', 'tolls_amount', 'total_amount']]

C:\Users\HEMANT\AppData\Local\Temp\ipykernel_25348\1093829506.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  data =  pd.read_csv("UBER DATA.csv")[['trip_distance', 'fare_amount', 'extra', 'tip_amount', 'tolls_amount', 'total_amount']]

Mean Meadian Mode

In [5]:
print("Mean of the   Dataset")
print(data.mean())
print("\n**")
print("Median of the  Dataset")
print(data.median())
print("\n**")
print("Mode of the  Dataset")
print(data.mode())
print("\n**")

Mean of the   Dataset
trip_distance     3.632742
fare_amount      19.651354
extra             1.493291
tip_amount        3.618372
tolls_amount      0.603468
total_amount     28.695766
dtype: float64

**
Median of the  Dataset
trip_distance     1.70
fare_amount      14.20
extra             1.00
tip_amount        2.88
tolls_amount      0.00
total_amount     21.39
dtype: float64

**
Mode of the  Dataset
   trip_distance  fare_amount  extra  tip_amount  tolls_amount  total_amount
0            0.0          9.3    0.0         0.0           0.0          16.8

**

Calculating Range

In [6]:
max = data['fare_amount'].max()
min = data['fare_amount'].min()

Range = max-min
print("Range", Range)

Range 2599.59

Variance & Standard Deviation

In [7]:
variance = variance(data['fare_amount'])
standard_deviation = stdev(data['fare_amount'])

# Print the results
print("Variance:", variance)
print("Standard deviation:", standard_deviation)

Variance: 350.52767160716263
Standard deviation: 18.722384239384752

Skewness

In [8]:
#Skewness
mean = data['fare_amount'].mean()
median = data['fare_amount'].median()
std = stdev(data['fare_amount'])

skew = 3*(mean-median)/std

In [9]:
print(skew)

0.8735031567936785